<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>crear_universidad</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="col-6">
        <form th:action="@{/universidad/nuevo}" method="post" th:object="${universidad}">

            <div class="mb-3">
                <label for="codigo_universidad" class="form-label">codigo</label>
                <input th:field="*{codigo}" type="number" class="form-control" id="codigo_universidad" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
                <label  for="nombre" class="form-label">nombre</label>
                <input th:field="*{nombre}" type="text" class="form-control" id="nombre" aria-describedby="emailHelp">

            </div>
            <div class="mb-3">
                <label  for="direccion" class="form-label">direccion</label>
                <input th:field="*{direccion}" type="text" class="form-control" id="direccion" aria-describedby="emailHelp">

            </div>
            <div class="mb-3">
                <label  for="telefono" class="form-label">telefono</label>
                <input th:field="*{telefono}" type="number" class="form-control" id="telefono" aria-describedby="emailHelp">

            </div>
            <div class="mb-3">
                <label  for="correo" class="form-label">correo</label>
                <input th:field="*{correo}" type="text" class="form-control" id="correo" aria-describedby="emailHelp">

            </div>
            <!--
             <div class="mb-3">

        <label for="categoria" class="form-label">Categoría</label>
        <select class="form-control" id="cat" name="categoria">
                    <option th:each="categoria : ${categorias}" th:value="${categoria.id_categoria}" >opcion</option>
                </select>
            </div>-->
            <button type="submit" class="btn btn-primary">Enviar</button>

            <button type="button" class="btn btn-primary"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar" onclick="window.location.href = 'http://localhost:63342/universidad/src/main/resources/templates/listar.html?_ijt=te21kr05j725mvf9o0vrb3e8d1&_ij_reload=RELOAD_ON_SAVE#'"
            >
                <span class="sr-only">listar</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>